<a href="https://colab.research.google.com/github/gokhanturer/Data_science_notebooks/blob/main/Numpy_Pandas_Practise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as mat

In [ ]:
df = pd.read_csv("world-happiness-report-2021.csv")
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [ ]:
# shape (kaç tane satır ka. tane sütun var onu gösterir)
df.shape

(149, 20)

In [ ]:
# head (ilk baştan default 5 satır getirir ama istersek içine değer girilebilir)
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [ ]:
# tail (son satırları getirir, default değeri 5'tir ama aynı head gibi içine değer girilebilir)
df.tail()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [ ]:
# sample (rastgele olarak istediğimiz kadar satır alabiliriz)
df.sample(3)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
15,Costa Rica,Latin America and Caribbean,7.069,0.056,7.179,6.960,9.880,0.891,71.400,0.934,-0.126,0.809,2.43,1.134,0.966,0.722,0.673,0.105,0.083,3.387
48,El Salvador,Latin America and Caribbean,6.061,0.065,6.188,5.933,9.054,0.762,66.402,0.888,-0.110,0.688,2.43,0.845,0.675,0.565,0.615,0.116,0.160,3.085

In [ ]:
# info (datatype larımıza bakarız. Kategorik mi numerik mi vs)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [ ]:
# describe (bizlere sayısal veriler ile ilgili istatistiksel bilgiler sağlıyor.)
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [ ]:
# isnull().sum() (missing yani kayıp veri olup olmadığına bakarız)
df.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [ ]:
# columns (sütunlarımızın nelerden oluştuğuna bakalım)
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [ ]:
# value_counts (numara ile ifade edilmeyen object ifadeler için sayısal veriler sağlıyor)
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [ ]:
# Single column
df["Ladder score"]

0      7.842
1      7.620
2      7.571
3      7.554
4      7.464
       ...
144    3.512
145    3.467
146    3.415
147    3.145
148    2.523
Name: Ladder score, Length: 149, dtype: float64

In [ ]:
df["Ladder score"].describe()

count    149.000000
mean       5.532839
std        1.073924
min        2.523000
25%        4.852000
50%        5.534000
75%        6.255000
max        7.842000
Name: Ladder score, dtype: float64

In [ ]:
type(df["Ladder score"])

pandas.core.series.Series

In [ ]:
# multiple columns
df[["Social support", "Generosity"]]

     Social support  Generosity
0             0.954      -0.098
1             0.954       0.030
2             0.942       0.025
3             0.983       0.160
4             0.942       0.175
..              ...         ...
144           0.787      -0.131
145           0.784      -0.246
146           0.552       0.061
147           0.750      -0.047
148           0.463      -0.102

[149 rows x 2 columns]

In [ ]:
type(# multiple columns
df[["Social support", "Generosity"]])

pandas.core.frame.DataFrame

In [ ]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

## Reaching to Rows with loc & iloc

loc ismi label dan gelir. Yani etiket demektir. Numerik değer verilmez. Index isimleri gerekir. ((stop değeri inclusive yani dahildir)
iloc ismi indexten gelir. index üzerinden satıra ulaşırız ama sadece numara ile ulaşırız. (Bu yüzden stop değeri dahil değildir yani exclusive dir.)

In [ ]:
# iloc
df1.iloc[3]

Regional indicator              Western Europe
Ladder score                             7.554
Logged GDP per capita                   10.878
Social support                           0.983
Healthy life expectancy                   73.0
Freedom to make life choices             0.955
Generosity                                0.16
Perceptions of corruption                0.673
Name: Iceland, dtype: object

In [ ]:
#loc
df1.loc["Iceland"]

Regional indicator              Western Europe
Ladder score                             7.554
Logged GDP per capita                   10.878
Social support                           0.983
Healthy life expectancy                   73.0
Freedom to make life choices             0.955
Generosity                                0.16
Perceptions of corruption                0.673
Name: Iceland, dtype: object

In [ ]:
#loc
df1.loc["Germany"]

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [ ]:
df1.iloc[102:109]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

In [ ]:
df1.iloc[12:19,[1,6]]

                Ladder score  Generosity
Country name
Germany                7.155       0.011
Canada                 7.103       0.089
Ireland                7.085       0.077
Costa Rica             7.069      -0.126
United Kingdom         7.064       0.233
Czech Republic         6.965      -0.208
United States          6.951       0.098

In [ ]:
df1.iloc[[15,35,43],[1,6]]

              Ladder score  Generosity
Country name
Costa Rica           7.069      -0.126
Mexico               6.317      -0.147
Poland               6.166      -0.165

In [ ]:
df1.loc[["Germany","Costa Rica", "Estonia"],["Ladder score", "Generosity", "Perceptions of corruption"]]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

## Pandas Series and Numpy Arrays

In [ ]:
ser = df1["Generosity"].copy()
ser

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Iceland        0.160
Netherlands    0.175
               ...
Lesotho       -0.131
Botswana      -0.246
Rwanda         0.061
Zimbabwe      -0.047
Afghanistan   -0.102
Name: Generosity, Length: 149, dtype: float64

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
ser.head(3)

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Name: Generosity, dtype: float64

In [ ]:
ser.mean()

-0.015134228187919468

In [ ]:
ser.min()

-0.288

## Broadcasting

In [ ]:
a = 100
ser[20:101] = a
ser[20:101]

Country name
France                      100.0
Bahrain                     100.0
Malta                       100.0
Taiwan Province of China    100.0
United Arab Emirates        100.0
                            ...
Turkmenistan                100.0
Gambia                      100.0
Benin                       100.0
Laos                        100.0
Bangladesh                  100.0
Name: Generosity, Length: 81, dtype: float64

In [ ]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [ ]:
mean_score = df1["Perceptions of corruption"].mean()
mean_score

0.7274496644295301

In [ ]:
x = df1["Perceptions of corruption"].count()
x

149

In [ ]:
df1["Perceptions of corruption"][df1["Perceptions of corruption"] >= mean_score]

Country name
Israel            0.753
Costa Rica        0.809
Czech Republic    0.868
Spain             0.745
Italy             0.866
                  ...
Malawi            0.729
Lesotho           0.915
Botswana          0.801
Zimbabwe          0.821
Afghanistan       0.924
Name: Perceptions of corruption, Length: 95, dtype: float64

In [ ]:
a = df1["Perceptions of corruption"][df1["Perceptions of corruption"] >= mean_score].count()
a

95

In [ ]:
b = df1["Perceptions of corruption"][df1["Perceptions of corruption"] < mean_score].count()
b

54

In [ ]:
print(f"Out of {x} countries; Citizens of {a} countries perceive above the mean level of perceptions of corruption in their countries. \nOn the other hand citizens of {b} countries perceive below the mean level of perceptions of corruption in their countries.")

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

## Exercises

In [ ]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [ ]:
# Germany, Ethiopia, Peru, Chad, Japan. Freedom to make life choices, Healthy life expectancy
df1.loc[["Germany", "Ethiopia", "Peru", "Chad", "Japan"],["Freedom to make life choices", "Healthy life expectancy"]]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [ ]:
df1.iloc[[25,52,65,145],[1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

In [ ]:
# Exercise: Conditional Filtering
# Let's bring the Happiness score from the countries where in Central and Easter Europe countries
# and where perceptions of corruption higher than 0.9
df1[(df1["Regional indicator"] == "Central and Eastern Europe") & (df1["Perceptions of corruption"] > 0.9)]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Kosovo,Central and Eastern Europe,6.372,9.318,0.821,63.813,0.869,0.257,0.917
Slovakia,Central and Eastern Europe,6.331,10.369,0.936,69.201,0.766,-0.124,0.911
Romania,Central and Eastern Europe,6.140,10.284,0.832,67.355,0.845,-0.219,0.938
Croatia,Central and Eastern Europe,5.882,10.217,0.924,70.799,0.754,-0.118,0.939
Bosnia and Herzegovina,Central and Eastern Europe,5.813,9.590,0.870,68.098,0.706,0.113,0.931
Bulgaria,Central and Eastern Europe,5.266,10.016,0.931,67.000,0.788,-0.096,0.932
Albania,Central and Eastern Europe,5.117,9.520,0.697,68.999,0.785,-0.030,0.901
North Macedonia,Central and Eastern Europe,5.101,9.693,0.805,65.474,0.751,0.038,0.905

In [ ]:
# Exercise:Conditional Filtering
# - Let's **randomly** bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores
# - Condition : Those countries are not in Western Europe **or** their 'Perceptions of corruption' scores are not bigger than 0.66
df1[(df1["Regional indicator"]!="Western Europe") | (df1["Perceptions of corruption"]<=0.66)][['Regional indicator','Ladder score','Perceptions of corruption']].sample(7)

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
Gambia,Sub-Saharan Africa,5.051,0.746
Chad,Sub-Saharan Africa,4.355,0.807
Norway,Western Europe,7.392,0.270
Ivory Coast,Sub-Saharan Africa,5.306,0.794
Zambia,Sub-Saharan Africa,4.073,0.823
Peru,Latin America and Caribbean,5.840,0.891
Lesotho,Sub-Saharan Africa,3.512,0.915

## Drop and Add

In [ ]:
# add column
new = np.random.rand(149)
df1['new'] = new
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,new
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,0.183667
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,0.398145
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292,0.394671
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673,0.894094
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338,0.144613

In [ ]:
# drop column
df1.drop('new', axis = 1, inplace = True )
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [ ]:
# add row
new_row = df1.loc["Germany"]
new_row

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [ ]:
new_row.name="New_name"

In [ ]:
df1 = df1.append(new_row)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460
New_name,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [ ]:
# drop row
df1 = df1.drop("New_name", axis=0)
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [ ]:
# creating df2 dataset

df2 = df1.copy()
df2

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [ ]:
df2["Social support"].apply(np.square)

Country name
Finland        0.910116
Denmark        0.910116
Switzerland    0.887364
Iceland        0.966289
Netherlands    0.887364
                 ...
Botswana       0.614656
Rwanda         0.304704
Zimbabwe       0.562500
Afghanistan    0.214369
Germany        0.815409
Name: Social support, Length: 150, dtype: float64

In [ ]:
# Update Regional indicator of Afghanistan as South_Asia

In [ ]:
df2.loc["Afghanistan"]["Ladder score"]

2.523

In [ ]:
df2.loc["Afghanistan"]["Ladder score"] = 7.565

<ipython-input-93-b89088bdbdca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc["Afghanistan"]["Ladder score"] = 7.565

In [ ]:
df2.loc["Afghanistan", "Ladder score"] = 7.565
# ya da şu şekilde => df2.loc[["Afghanistan"],["Ladder score"]]=7.565

In [ ]:
df2.loc["Afghanistan"]["Ladder score"]

7.565

In [ ]:
df2.loc["Afghanistan"]

Regional indicator              South Asia
Ladder score                         7.565
Logged GDP per capita                7.695
Social support                       0.463
Healthy life expectancy             52.493
Freedom to make life choices         0.382
Generosity                          -0.102
Perceptions of corruption            0.924
Name: Afghanistan, dtype: object

Based on the our dataset's 'Healthy life expectancy' scores, lets make a new column with the name of **'Explained Healthy life expectancy'** with the new values which should consist of:
- Let's think 'Healthy life expectancy''s mean score as our threshold.
-If 'Healthy life expectancy' is equal and greater than 75% of the 'Healthy life expectancy' score of the dataset , it should be written **''Long Life expectancy'**
-If 'Healthy life expectancy' less than 75% of the 'Healthy life expectancy' score of the dataset but bigger than our threshold, it should be written **'Longer than normal expectancy'**
--If 'Healthy life expectancy' equal or less than our threshold but bigger than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Normal life expectancy'**
--If 'Healthy life expectancy' equal or less than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Lower life expectancy'**
--Since We have projects with United states make sure that United States should be written as **'United States of America'**

In [ ]:
# Raife Hoca'nın cevabı

In [ ]:
ortalama = round(df2["Healthy life expectancy"].mean(),2)
ortalama

65.04

In [ ]:
def change(x):
    if x>=75 :
        return "Long Life expectancy"
    elif ortalama<x<75:
        return "Longer than normal expectancy"
    elif 25<=x<=ortalama :
        return "Normal life expectancy"
    else:
        return "Lower life expectancy"
df2["Healthy life expectancy"].apply(change).loc["United States"]

'Longer than normal expectancy'

In [ ]:
# Kaan Hoca'nın cevabı

In [ ]:
df2["Healthy life expectancy"].head()

Country name
Finland        72.0
Denmark        72.7
Switzerland    74.4
Iceland        73.0
Netherlands    72.4
Name: Healthy life expectancy, dtype: float64

In [ ]:
df2["Healthy life expectancy"].describe()

count    150.000000
mean      65.042847
std        6.767131
min       48.478000
25%       59.842000
50%       66.651500
75%       69.639000
max       76.953000
Name: Healthy life expectancy, dtype: float64

In [ ]:
def change(x):
    if x>=69.639000 :
        return "Long Life expectancy"
    elif 65.042847<x<69.639000:
        return "Longer than normal expectancy"
    elif 59.842000 <=x<= 65.042847 :
        return "Normal life expectancy"
    else:
        return "Lower life expectancy"
df2["Healthy life expectancy"].apply(change).loc["United States"]

'Longer than normal expectancy'

## Groupby

In [ ]:
df2.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [ ]:
df2["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        22
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [ ]:
df2["Regional indicator"].value_counts(normalize=True)

Sub-Saharan Africa                    0.240000
Western Europe                        0.146667
Latin America and Caribbean           0.133333
Middle East and North Africa          0.113333
Central and Eastern Europe            0.113333
Commonwealth of Independent States    0.080000
Southeast Asia                        0.060000
South Asia                            0.046667
East Asia                             0.040000
North America and ANZ                 0.026667
Name: Regional indicator, dtype: float64

In [ ]:
df2.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho', 'Botswana', 'Rwanda',
       'Zimbabwe', 'Afghanistan', 'Germany'],
      dtype='object', name='Country name', length=150)

In [ ]:
df1.groupby(["Regional indicator"])

In [ ]:
df2.groupby(["Regional indicator"]).get_group("Western Europe")

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
Norway,Western Europe,7.392,11.053,0.954,73.300,0.960,0.093,0.270
Sweden,Western Europe,7.363,10.867,0.934,72.700,0.945,0.086,0.237
Luxembourg,Western Europe,7.324,11.647,0.908,72.600,0.907,-0.034,0.386
Austria,Western Europe,7.268,10.906,0.934,73.300,0.908,0.042,0.481
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460
Ireland,Western Europe,7.085,11.342,0.947,72.400,0.879,0.077,0.363
United Kingdom,Western Europe,7.064,10.707,0.934,72.500,0.859,0.233,0.459
Belgium,Western Europe,6.834,10.823,0.906,72.199,0.783,-0.153,0.646
France,Western Europe,6.690,10.704,0.942,74.000,0.822,-0.147,0.571
Malta,Western Europe,6.602,10.674,0.931,72.200,0.927,0.133,0.653
Spain,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
Italy,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
Cyprus,Western Europe,6.223,10.576,0.802,73.898,0.763,-0.015,0.844
Portugal,Western Europe,5.929,10.421,0.879,72.600,0.892,-0.244,0.887
Greece,Western Europe,5.723,10.279,0.823,72.600,0.582,-0.288,0.823
North Cyprus,Western Europe,5.536,10.576,0.820,73.898,0.795,0.012,0.626
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [ ]:
df2.groupby(["Regional indicator"]).get_group("Western Europe")["Ladder score"]

Country name
Finland           7.842
Denmark           7.620
Switzerland       7.571
Iceland           7.554
Netherlands       7.464
Norway            7.392
Sweden            7.363
Luxembourg        7.324
Austria           7.268
Germany           7.155
Ireland           7.085
United Kingdom    7.064
Belgium           6.834
France            6.690
Malta             6.602
Spain             6.491
Italy             6.483
Cyprus            6.223
Portugal          5.929
Greece            5.723
North Cyprus      5.536
Germany           7.155
Name: Ladder score, dtype: float64

In [ ]:
df2.groupby(["Regional indicator"]).get_group("Middle East and North Africa")

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
Bahrain,Middle East and North Africa,6.647,10.669,0.862,69.495,0.925,0.089,0.722
United Arab Emirates,Middle East and North Africa,6.561,11.085,0.844,67.333,0.932,0.074,0.589
Saudi Arabia,Middle East and North Africa,6.494,10.743,0.891,66.603,0.877,-0.149,0.684
Kuwait,Middle East and North Africa,6.106,10.817,0.843,66.900,0.867,-0.104,0.736
Libya,Middle East and North Africa,5.410,9.622,0.827,62.300,0.771,-0.087,0.667
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752
Iraq,Middle East and North Africa,4.854,9.240,0.746,60.583,0.630,-0.053,0.875
Iran,Middle East and North Africa,4.721,9.584,0.710,66.300,0.608,0.218,0.714
Tunisia,Middle East and North Africa,4.596,9.266,0.691,67.201,0.656,-0.201,0.870
Lebanon,Middle East and North Africa,4.584,9.626,0.848,67.355,0.525,-0.073,0.898
Palestinian Territories,Middle East and North Africa,4.517,8.485,0.826,62.250,0.653,-0.163,0.821
Jordan,Middle East and North Africa,4.395,9.182,0.767,67.000,0.755,-0.167,0.705
Egypt,Middle East and North Africa,4.283,9.367,0.750,61.998,0.749,-0.182,0.795
Yemen,Middle East and North Africa,3.658,7.578,0.832,57.122,0.602,-0.147,0.800